In [7]:
import pandas as pd
import csv

#reads archive using read_csv function
df = pd.read_csv('titanic.csv')

#displays first lines using head function
print(df.head())

#prints from lines 0 to 15 the columns Name, Age, Sex, and Survived
print(df.loc[0:15,['Name', 'Age', 'Sex', 'Survived']])
#prints from the first 5 lines the columns Survived, Pclass and Age
print(df[['Survived', 'Pclass', 'Age']].head())
#prints from lines 15 to 25 the columns Pclass and Fare
print(df.loc[15:25,['Pclass', 'Fare']])
#prints from lines 20 to 25 the columns Pclass and Embarked
print(df.loc[20:25], ['Pclass', 'Embarked'])
print("describe")
print(df.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
                                                 Name   Age     Sex  Survived
0                             Braund, Mr. Owen Harris  22.0    male         0
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female         1
2                              Heikkinen, Miss. Laina  26.0  female         1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female         1
4                            Allen, Mr. William Henry  35.0    male         0
5                                    Moran, Mr. James   NaN    male         0
6                             McCarthy, Mr. Timothy J  54.0    male         0
7                      Palsson, Master. Gosta Leonard   2.0    male         0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  female         1
9                 Nasser, Mrs. Nicholas (Adele Achem)  14.0  female         1
10                    Sandstrom, Miss. Marguerite Rut   4.0  female         1
11                           Bonnell, Miss. Elizabeth  58.0  female         1
12                     Saundercock, Mr. William Henry  20.0    male         0
13                        Andersson, Mr. Anders Johan  39.0    male         0
14               Vestrom, Miss. Hulda Amanda Adolfina  14.0  female         0
15                   Hewlett, Mrs. (Mary D Kingcome)   55.0  female         1
   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0
    Pclass     Fare
15       2  16.0000
16       3  29.1250
17       2  13.0000
18       3  18.0000
19       3   7.2250
20       2  26.0000
21       2  13.0000
22       3   8.0292
23       1  35.5000
24       3  21.0750
25       3  31.3875
    PassengerId  Survived  Pclass  \
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3

                                                 Name     Sex   Age  SibSp  \
20                               Fynney, Mr. Joseph J    male  35.0      0
21                              Beesley, Mr. Lawrence    male  34.0      0
22                        McGowan, Miss. Anna "Annie"  female  15.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0
24                      Palsson, Miss. Torborg Danira  female   8.0      3
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1

    Parch  Ticket     Fare Cabin Embarked
20      0  239865  26.0000   NaN        S
21      0  248698  13.0000   D56        S
22      0  330923   8.0292   NaN        Q
23      0  113788  35.5000    A6        S
24      1  349909  21.0750   NaN        S
25      5  347077  31.3875   NaN        S   ['Pclass', 'Embarked']
describe
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

En el describe, se genera un resumen estadístico de las columnas, la cantidad de datos (count), el promedio (mean), la desviación estándar (std), el valor mínimo (min), los percentiles, así como el valor máximo (max), hay 891 registros en total, pero solo 714 tienen edad. la edad promedio de los pasajeros es de 29.7 años, con una desviación estándar de 14.5, un mínimo de 0.42 y un máximo de 80, mientras que la mediana es de 28. En cuanto a la supervivencia, alrededor del 38% de los pasajeros sobrevivieron. La mayoría viajaba en tercera clase, pues la mediana de la variable *Pclass* es 3.